openapi: 3.0.0
info:
    version: 2.0.0
    title: Mediaverse
    description: |
        Mediaverse Public APIs
        * Authentication
        * Profile
        * Wallets
        * Transactions
        * Payments
        * Assets
        * Videos
    termsOfService: https://mediaverse.land/terms
    contact:
        name: Support
        email: info@mediaverse.land
        url: https://mediaverse.land/contact
servers:
    - url: https://api.mediaverse.land/v2
components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
    responses:
        ValidationError:
            description: خطای اعتبارسنجی پارامتر های درخواست
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            message:
                                type: string
        Unauthorized:
            description: خطای تایید هویت کاربر
        RateLimiter:
            description: خطای تعداد درخواست بیش از حد مجاز
        NotFound:
            description: خطای یافت نشدن منبع مورد نظر
        Forbidden:
            description: خطای دسترسی به منبع مورد نظر
    schemas:
        ApiToken:
            type: object
            description: توکن وب سرویس
            properties:
                id:
                    type: integer
                    description: شناسه یکتا
                    example: 13
                token:
                    type: string
                    description: توکن
                    example: 123abc456xyz
                name:
                    type: string
                    description: نام اپلیکیشن استفاده کننده از توکن
                    example: myAppTitle
                user_id:
                    type: integer
                    description: شناسه کاربر مالک
                    example: 33
                created_at:
                    type: string
                    description: زمان ساخته شدن
                    example: '2021-09-26T16:13:07.000000Z'
                updated_at:
                    type: string
                    description: زمان آخرین بروزرسانی
                    example: '2021-09-26T16:13:07.000000Z'
        SignIn:
            type: object
            description: اطلاعات ورود کاربر
            properties:
                id:
                    type: integer
                    description: شناسه یکتا
                    example: 13
                ip:
                    type: string
                    description: شناسه اینترنتی کاربر
                    example: 13.33.13.33
                request:
                    type: string
                    description: اطلاعات درخواست کاربر
                    example: '{"headers": []}'
                user_id:
                    type: integer
                    description: شناسه کاربر مربوطه
                    example: 33
                created_at:
                    type: string
                    description: زمان ساخته شدن
                    example: '2021-09-26T16:13:07.000000Z'
                updated_at:
                    type: string
                    description: زمان آخرین بروزرسانی
                    example: '2021-09-26T16:13:07.000000Z'
        Transaction:
            type: object
            description: تراکنش مالی کاربر
            properties:
                id:
                    type: integer
                    description: شناسه یکتا
                    example: 13
                value:
                    type: integer
                    description: مقدار ریالی تراکنش
                    example: 660000
                last_balance:
                    type: integer
                    description: اعتبار نهایی کاربر مالک پس از تراکنش
                    example: 10000000
                description:
                    type: string
                    description: توضیحات
                    example: بابت هزینه پخش
                relation_type:
                    type: integer
                    description: |
                        نوع موجودیت عامل
                        * 1: تراکنش دستی توسط اپراتور
                        * 2: پرداخت آنلاین
                    example: 1
                    enum:
                        - 1
                        - 2
                relation_id:
                    type: integer
                    description: شناسه موجودیت عامل
                    example: 66
                user_id:
                    type: integer
                    description: شناسه کاربر مالک
                    example: 33
                wallet_id:
                    type: integer
                    description: شناسه کیف پول مربوطه
                    example: 13
                created_at:
                    type: string
                    description: زمان ساخته شدن
                    example: '2021-09-26T16:13:07.000000Z'
                updated_at:
                    type: string
                    description: زمان آخرین بروزرسانی
                    example: '2021-09-26T16:13:07.000000Z'
        User:
            description: کاربر
            type: object
            properties:
                id:
                    type: integer
                    description: شناسه یکتا
                    example: 13
                code:
                    type: string
                    description: کد یکتا
                    example: 123abc456xyz
                first_name:
                    type: string
                    description: نام
                    example: میلاد
                last_name:
                    type: string
                    description: نام خانوادگی
                    example: رحیمی
                cellphone:
                    type: string
                    description: شماره همراه
                    example: '+989120001234'
                cellphone_verified_at:
                    type: string
                    description: زمان تایید شماره همراه
                    example: '2021-09-26T16:13:07.000000Z'
                email:
                    type: string
                    nullable: true
                    description: ایمیل
                    example: info@mediaverse.land
                email_verified_at:
                    type: string
                    nullable: true
                    description: زمان تایید ایمیل
                    example: '2021-09-26T16:13:07.000000Z'
                status:
                    type: integer
                    example: 1
                    enum:
                        - 1
                        - 2
                    description: |
                        وضعیت کاربر
                        * 1: فعال
                        * 2: بلاک شده
                referrer_id:
                    type: integer
                    description: شناسه کاربر دعوت کننده
                    example: 66
                wallets:
                    type: array
                    items:
                        $ref: '#/components/schemas/Wallet'
                created_at:
                    type: string
                    description: زمان نام نویسی
                    example: '2021-09-26T16:13:07.000000Z'
                updated_at:
                    type: string
                    description: زمان آخرین بروزرسانی
                    example: '2021-09-26T16:13:07.000000Z'
        UserToken:
            type: object
            description: توکن (نشست) کاربر
            properties:
                id:
                    type: integer
                    description: شناسه یکتا
                    example: 13
                token:
                    type: string
                    description: توکن کاربر
                    example: 123abc456xyz
                agent:
                    type: string
                    description: اطلاعات نرم افزار کلاینت کاربر
                    example: '{"os": "darwin"}'
                user_id:
                    type: integer
                    description: شناسه کاربر مربوطه
                    example: 33
                created_at:
                    type: string
                    description: زمان ساخته شدن
                    example: '2021-09-26T16:13:07.000000Z'
                updated_at:
                    type: string
                    description: زمان آخرین بروزرسانی
                    example: '2021-09-26T16:13:07.000000Z'
        Wallet:
            type: object
            description: کیف پول
            properties:
                id:
                    type: integer
                    description: شناسه یکتا
                    example: 13
                type:
                    type: integer
                    description: |
                        نوع کیف پول
                        * 1: پیشفرض
                    example: 1
                    enum:
                        - 1
                balance:
                    type: integer
                    description: اعتبار ریالی
                    example: 130000
                user_id:
                    type: integer
                    description: شناسه کاربر مالک
                    example: 33
                created_at:
                    type: string
                    description: زمان ساخته شدن
                    example: '2021-09-26T16:13:07.000000Z'
                updated_at:
                    type: string
                    description: زمان آخرین بروزرسانی
                    example: '2021-09-26T16:13:07.000000Z'
        Asset:
            type: object
            description: دارایی
            properties:
                id:
                    type: integer
                    description: شناسه یکتا
                    example: 11
                user_id:
                    type: integer
                    description: شناسه کاربر مالک
                    example: 33
                thumbnail_id:
                    type: integer
                    description: شناسه فایل تصویر دارایی
                    example: 33
                name:
                    type: string
                    description: نام دارایی
                    example: نقاشی مونالیزا
                type:
                    type: integer
                    description: |
                        نوع دارایی
                        * 1: متن
                        * 2: تصویر
                        * 3: صوت
                        * 4: وبدیو
                        * 5: سه بعدی
                        * 6: تصویر بندانگشتی
                    example: 1
                    enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                description:
                    type: string
                    description: توضیحات
                    example: رنگ روغن و ...
                status:
                    type: integer
                    description: |
                        وضعیت دارایی
                        * 1: ثبت‌شده
                        * 2: بررسی‌شده
                        * 3: معتبر
                    example: 1
                    enum:
                        - 1
                        - 2
                        - 3
                plan:
                    type: integer
                    description: |
                        پلن دارایی
                        * 1: رایگان
                        * 2: فروش مالکیت
                        * 3: فروش اشتراک
                        * 4: تبلیغاتی
                    example: 1
                    enum:
                        - 1
                        - 2
                        - 3
                        - 4
                price:
                    type: integer
                    description: قیمت دارایی
                    example: 30000
                lat:
                    type: integer
                    description: عرض جغرافیایی
                    example: 20
                lng:
                    type: integer
                    description: طول جغرافیایی
                    example: 30
                created_at:
                    type: string
                    description: زمان ساخته شدن
                    example: '2021-09-26T16:13:07.000000Z'
                updated_at:
                    type: string
                    description: زمان آخرین بروزرسانی
                    example: '2021-09-26T16:13:07.000000Z'
        File:
            type: object
            description: فایل‌
            properties:
                id:
                    type: integer
                    description: شناسه یکتا
                    example: 13
                asset_id:
                    type: integer
                    description: شناسه دارایی مربوطه
                    example: 8
                user_id:
                    type: integer
                    description: شناسه کاربر مربوطه
                    example: 33
                storage:
                    type: string
                    description: محل ذخیره‌سازی
                    example: 'amazon s3'
                extension:
                    type: string
                    description: پسوند
                    example: 'jpg'
                description:
                    type: string
                    description: توضیحات
                    example: 'برای ...'
                created_at:
                    type: string
                    description: زمان ساخته شدن
                    example: '2021-09-26T16:13:07.000000Z'
                updated_at:
                    type: string
                    description: زمان آخرین بروزرسانی
                    example: '2021-09-26T16:13:07.000000Z'
        Label:
            type: object
            description: لیبل
            properties:
                id:
                    type: integer
                    description: شناسه یکتا
                    example: 11
                name:
                    type: string
                    description: نام
                    example: گربه
                created_at:
                    type: string
                    description: زمان ساخته شدن
                    example: '2021-09-26T16:13:07.000000Z'
                updated_at:
                    type: string
                    description: زمان آخرین بروزرسانی
                    example: '2021-09-26T16:13:07.000000Z'
        FileLabel:
            type: object
            description: فایل ‌لیبل
            properties:
                id:
                    type: integer
                    description: شناسه یکتا
                    example: 13
                file_id:
                    type: integer
                    description: شناسه فایل مربوطه
                    example: 8
                label_id:
                    type: integer
                    description: شناسه لیبل مربوطه
                    example: 33
                coordinate:
                    type: object
                    properties:
                        x1:
                            type: integer
                            description: مختصات نقطه ۱ بالا سمت چپ
                        y1:
                            type: integer
                            description: مختصات نقطه ۱ بالا سمت چپ
                        x2:
                            type: integer
                            description: مختصات نقطه ۲ بالا سمت راست
                        y2:
                            type: integer
                            description: مختصات نقطه ۲ بالا سمت راست
                        x3:
                            type: integer
                            description: مختصات نقطه ۳ پایین سمت چپ
                        y3:
                            type: integer
                            description: مختصات نقطه ۳ پایین سمت چپ
                        x4:
                            type: integer
                            description: مختصات نقطه ۴ پایین سمت راست
                        y4:
                            type: integer
                            description: مختصات نقطه ۴ پایین سمت راست
                created_at:
                    type: string
                    description: زمان ساخته شدن
                    example: '2021-09-26T16:13:07.000000Z'
                updated_at:
                    type: string
                    description: زمان آخرین بروزرسانی
                    example: '2021-09-26T16:13:07.000000Z'
security:
    - bearerAuth: []
tags:
    - name: Auth
      description: ورود و ثبت نام کاربر
    - name: Profile
      description: پروفایل کاربر
    - name: UserTokens
      description: توکن (نشت) های فعال کاربر
    - name: ApiTokens
      description: توکن های وب سرویس
    - name: SignIns
      description: ورود های کاربر
    - name: Wallets
      description: کیف پول های کاربر جاری
    - name: Transactions
      description: تراکنش های کاربر جاری
    - name: Gateways
      description: درگاه های پرداخت آنلاین
    - name: Assets
      description: دارایی‌ها
    - name: Files
      description: فایل‌ها
    - name: Labels
      description: لیبل‌ها
    - name: FileLabel
      description: لیبل‌ فایل‌ها
paths:
    /otp/request:
        post:
            tags:
                - Auth
            description: درخواست ورود با شماره همراه
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - cellphone
                                - captcha
                            properties:
                                cellphone:
                                    type: string
                                    example: '+989120001234'
                                captcha:
                                    type: string
                                    example: abc123xyz456
                                    description: کد کپچا
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    expires_after:
                                        type: integer
                                        example: 120
                                        description: زمان باقیمانده تا منقضی شدن کد
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /otp/submit:
        post:
            tags:
                - Auth
            description: ثبت کد یکبارمصرف دریافتی برای ورود
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - cellphone
                                - otp
                            properties:
                                cellphone:
                                    type: string
                                    example: '+989120001234'
                                otp:
                                    type: string
                                    example: 123456
                                    description: کد یکبارمصرف دریافت شده
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    token:
                                        type: string
                                        example: abc123xyz456
                                        description: توکن کاربر جهت فراخوانی وب سرویس ها
                                    user:
                                        $ref: '#/components/schemas/User'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /sign-in:
        post:
            tags:
                - Auth
            description: ورود با گذرواژه
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - cellphone
                                - password
                            properties:
                                cellphone:
                                    type: string
                                    example: '+989120001234'
                                password:
                                    type: string
                                    example: secret69
                                    description: گذرواژه کاربر
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    token:
                                        type: string
                                        example: abc123xyz456
                                        description: توکن کاربر جهت فراخوانی وب سرویس ها
                                    user:
                                        $ref: '#/components/schemas/User'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /sign-up:
        post:
            tags:
                - Auth
            description: ورود با گذرواژه
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - username
                                - password
                            properties:
                                username:
                                    type: string
                                    example: 'media6585'
                                password:
                                    type: string
                                    example: secret69
                                    description: گذرواژه کاربر
                                first_name:
                                    type: string
                                    example: 'david'
                                    description: نام کاربر
                                last_name:
                                    type: string
                                    example: 'gilmour'
                                    description: نام خانوادگی کاربر
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    token:
                                        type: string
                                        example: abc123xyz456
                                        description: توکن کاربر جهت فراخوانی وب سرویس ها
                                    user:
                                        $ref: '#/components/schemas/User'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /sign-up-completion:
        post:
            tags:
                - Profile
            description: تکمیل اطلاعات در صورت نداشتن نام کاربری
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - username
                                - password
                            properties:
                                username:
                                    type: string
                                    example: 'media6585'
                                password:
                                    type: string
                                    example: secret69
                                    description: گذرواژه کاربر
                                first_name:
                                    type: string
                                    example: 'david'
                                    description: نام کاربر
                                last_name:
                                    type: string
                                    example: 'gilmour'
                                    description: نام خانوادگی کاربر
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /profile:
        get:
            tags:
                - Profile
            description: دریافت پروفایل کاربر
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '429':
                    $ref: '#/components/responses/RateLimiter'
        put:
            tags:
                - Profile
            description: ویرایش پروفایل کاربر
            parameters:
                - in: query
                  name: user
                  required: false
                  description: شناسه کاربر مورد نظر یا خالی برای کاربر جاری
                  schema:
                      type: integer
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                first_name:
                                    type: string
                                    example: میلاد
                                last_name:
                                    type: string
                                    example: رحیمی
                                email:
                                    type: string
                                    example: info@mediaverse.land
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /profile/cellphone:
        patch:
            tags:
                - Profile
            description: درخواست تغییر شماره همراه کاربر
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - cellphone
                            properties:
                                cellphone:
                                    type: string
                                    example: '+989120001234'
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    expires_after:
                                        type: integer
                                        description: مدت اعتبار کد فرستاده شده به ثانیه
                                        example: 120
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /profile/cellphone/otp:
        post:
            tags:
                - Profile
            description: فرستادن کد تایید شماره همراه
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - otp
                                - cellphone
                            properties:
                                otp:
                                    type: integer
                                    description: کد دریافت شده با پیامک
                                    example: '123456'
                                cellphone:
                                    type: string
                                    example: '+989120001234'
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /profile/password:
        patch:
            tags:
                - Profile
            description: درخواست تغییر/افزودن شماره گذرواژه
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - password
                            properties:
                                password:
                                    type: string
                                    description: گذرواژه
                                    example: 'secret69'
                                password_confirmation:
                                    type: string
                                    description: تکرار گذرواژه
                                    example: 'secret69'
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    expires_after:
                                        type: integer
                                        description: مدت اعتبار کد فرستاده شده به ثانیه
                                        example: 120
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /profile/password/otp:
        post:
            tags:
                - Profile
            description: فرستادن کد تایید برای تغییر کذرواژه
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - otp
                                - password
                            properties:
                                otp:
                                    type: integer
                                    description: کد دریافت شده با پیامک
                                    example: '123456'
                                password:
                                    type: string
                                    example: 'secret69'
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /user-tokens:
        get:
            tags:
                - UserTokens
            description: دریافت لیست توکن (نشست) های فعال کاربر جاری
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/UserToken'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /user-tokens/{id}:
        delete:
            tags:
                - UserTokens
            description: پاک کردن توکن (نشست) فعال کاربر جاری
            parameters:
                - in: path
                  name: id
                  schema:
                      type: integer
                  required: true
                  description: شناسه یکتای توکن
            responses:
                '204':
                    description: پاسخ موفق
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /api-tokens:
        get:
            tags:
                - ApiTokens
            description: دریافت لیست توکن های وب سرویس
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/ApiToken'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '429':
                    $ref: '#/components/responses/RateLimiter'
        post:
            tags:
                - ApiTokens
            description: ساخت توکن وب سرویس
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - name
                            properties:
                                name:
                                    type: string
                                    description: نام اپلیکیشن استفاده کننده از توکن
                                    example: myAppName
            responses:
                '201':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiToken'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /api-tokens/{id}:
        delete:
            tags:
                - ApiTokens
            description: پاک کردن یک توکن وب سرویس
            parameters:
                - in: path
                  name: id
                  schema:
                      type: integer
                  required: true
                  description: شناسه یکتای توکن
            responses:
                '204':
                    description: پاسخ موفق
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /sign-ins:
        get:
            tags:
                - SignIns
            description: دریافت اطلاعات ورود های پیشین
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/SignIn'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /wallets:
        get:
            tags:
                - Wallets
            description: دریافت کیف پول های کاربر جاری
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Wallet'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /transactions:
        get:
            tags:
                - Transactions
            description: دریافت لیست تراکنش های کاربر جاری
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Transaction'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /gateways:
        get:
            tags:
                - Gateways
            description: دریافت لیست درگاه های پرداخت فعال
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: array
                                description: نام درگاه های پرداخت
                                items:
                                    type: string
                                    example: mellat
                                    description: نام درگاه پرداخت
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /gateways/{gateway}/payment:
        post:
            tags:
                - Gateways
            description: درخواست پرداخت آنلاین برای شارژ کیف پول کاربر جاری
            parameters:
                - in: path
                  name: gateway
                  schema:
                      type: string
                  required: true
                  description: نام درگاه پرداخت
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - amount
                                - wallet
                            properties:
                                amount:
                                    type: integer
                                    description: مبلغ درخواستی جهت پرداخت
                                    example: 330000
                                wallet:
                                    type: string
                                    description: نام درگاه پرداخت درخواستی
                                    example: mellat
            responses:
                '201':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    reference:
                                        type: string
                                        description: کد پیگیری از طرف درگاه پرداخت
                                        example: 123xyz456abc
                                    url:
                                        type: string
                                        description: آدرس صفحه درگاه جهت  تکمیل فرایند پرداخت
                                        example: https://shaparak.ir/path/to/gateway
                                    amount:
                                        type: integer
                                        description: مبلغ درخواست شده برای پرداخت
                                        example: 330000
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /assets:
        get:
            tags:
                - Assets
            description: دریافت دارایی های کاربر جاری
            parameters:
                - in: query
                  name: user
                  required: false
                  description: شناسه کاربر مورد نظر یا خالی برای کاربر جاری
                  schema:
                      type: integer
                - in: query
                  name: type
                  required: false
                  description: نوع دارایی جهت جستجو
                  schema:
                      type: string
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Asset'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '429':
                    $ref: '#/components/responses/RateLimiter'
        post:
            tags:
                - Assets
            description: ساخت دارایی جدید
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                name:
                                    type: string
                                    description: نام دارایی
                                    example: تستی
                                user:
                                    type: integer
                                    description: >
                                        در صورت خالی فرستادن شناسه کاربر جاری در نظر گرفته میشود.
                                    example: 330000
                                type:
                                    type: integer
                                    description: نوع دارایی - رجوع شود به تعریف مدل دارایی
                                    example: 3
                                    enum:
                                        - 1
                                        - 2
                                        - 3
                                        - 4
                                        - 5
                                        - 6
                                plan:
                                    type: integer
                                    description: |
                                        پلن دارایی
                                        * 1: رایگان
                                        * 2: فروش مالکیت
                                        * 3: فروش اشتراک
                                        * 4: تبلیغاتی
                                    enum:
                                        - 1
                                        - 2
                                        - 3
                                        - 4
                                    example: 2
                                price:
                                    type: integer
                                    description: قیمت دارایی برای غیر رایگان ها
                                    example: 300000
                                description:
                                    type: string
                                    description: توضیحات دارایی
                                    example: ....
                                lat:
                                    type: integer
                                    description: عرض جغرافیایی دارایی
                                    example: 29.34
                                lng:
                                    type: integer
                                    description: طول جغرافیایی دارایی
                                    example: 40.89
                                tags:
                                    type: array
                                    description: برچسبها
                                    items:
                                        type: string
                                        example: ورزشی
            responses:
                '201':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Asset'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /assets/{id}:
        get:
            tags:
                - Assets
            description: دریافت دارایی
            parameters:
                - in: path
                  name: id
                  schema:
                      type: integer
                  required: true
                  description: شناسه یکتای دارایی
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Asset'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    $ref: '#/components/responses/NotFound'
                '429':
                    $ref: '#/components/responses/RateLimiter'
        put:
            tags:
                - Assets
            description: ویرایش دارایی
            parameters:
                - in: path
                  name: id
                  schema:
                      type: integer
                  required: true
                  description: شناسه یکتای دارایی
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                name:
                                    type: string
                                    description: نام دارایی
                                    example: تستی
                                user:
                                    type: integer
                                    description: >
                                        در صورت خالی فرستادن شناسه کاربر جاری در نظر گرفته میشود.
                                    example: 330000
                                type:
                                    type: integer
                                    description: نوع دارایی - رجوع شود به تعریف مدل دارایی
                                    example: 3
                                    enum:
                                        - 1
                                        - 2
                                        - 3
                                        - 4
                                        - 5
                                        - 6
                                plan:
                                    type: integer
                                    description: |
                                        پلن دارایی
                                        * 1: رایگان
                                        * 2: فروش مالکیت
                                        * 3: فروش اشتراک
                                        * 4: تبلیغاتی
                                    enum:
                                        - 1
                                        - 2
                                        - 3
                                        - 4
                                    example: 2
                                price:
                                    type: integer
                                    description: قیمت دارایی برای غیر رایگان ها
                                    example: 300000
                                description:
                                    type: string
                                    description: توضیحات دارایی
                                    example: ....
                                lat:
                                    type: integer
                                    description: عرض جغرافیایی دارایی
                                    example: 29.34
                                lng:
                                    type: integer
                                    description: طول جغرافیایی دارایی
                                    example: 40.89
                                tags:
                                    type: array
                                    description: برچسبها
                                    items:
                                        type: string
                                        example: ورزشی
            responses:
                '201':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Asset'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
        delete:
            tags:
                - Assets
            description: پاک کردن دارایی
            parameters:
                - in: path
                  name: id
                  schema:
                      type: integer
                  required: true
                  description: شناسه یکتای دارایی
            responses:
                '204':
                    description: پاسخ موفق
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    $ref: '#/components/responses/NotFound'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /labels:
        get:
            tags:
                - Labels
            description: دریافت لیبل ها
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Label'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /file-labels:
        get:
            tags:
                - FileLabel
            description: دریافت فایل لیبل
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/FileLabel'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    $ref: '#/components/responses/NotFound'
                '429':
                    $ref: '#/components/responses/RateLimiter'
        post:
            tags:
                - FileLabel
            description: ایجاد فایل لیبل
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                file:
                                    type: integer
                                    description: شناسه فایل
                                    example: 23
                                label:
                                    type: integer
                                    description: شناسه لیبل
                                    example: 23
                                coordinate:
                                    type: object
                                    properties:
                                        x1:
                                            type: integer
                                            description: مختصات نقطه ۱ بالا سمت چپ
                                        y1:
                                            type: integer
                                            description: مختصات نقطه ۱ بالا سمت چپ
                                        x2:
                                            type: integer
                                            description: مختصات نقطه ۲ بالا سمت راست
                                        y2:
                                            type: integer
                                            description: مختصات نقطه ۲ بالا سمت راست
                                        x3:
                                            type: integer
                                            description: مختصات نقطه ۳ پایین سمت چپ
                                        y3:
                                            type: integer
                                            description: مختصات نقطه ۳ پایین سمت چپ
                                        x4:
                                            type: integer
                                            description: مختصات نقطه ۴ پایین سمت راست
                                        y4:
                                            type: integer
                                            description: مختصات نقطه ۴ پایین سمت راست
            responses:
                '200':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/FileLabel'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    $ref: '#/components/responses/NotFound'
                '429':
                    $ref: '#/components/responses/RateLimiter'
    /file-labels/{id}:
        put:
            tags:
                - FileLabel
            description: ویرایش فایل لیبل
            parameters:
                - in: path
                  name: id
                  schema:
                      type: integer
                  required: true
                  description: شناسه یکتای لیبل
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                file:
                                    type: integer
                                    description: شناسه فایل
                                    example: 23
                                label:
                                    type: integer
                                    description: شناسه لیبل
                                    example: 23
                                coordinate:
                                    type: object
                                    properties:
                                        x1:
                                            type: integer
                                            description: مختصات نقطه ۱ بالا سمت چپ
                                        y1:
                                            type: integer
                                            description: مختصات نقطه ۱ بالا سمت چپ
                                        x2:
                                            type: integer
                                            description: مختصات نقطه ۲ بالا سمت راست
                                        y2:
                                            type: integer
                                            description: مختصات نقطه ۲ بالا سمت راست
                                        x3:
                                            type: integer
                                            description: مختصات نقطه ۳ پایین سمت چپ
                                        y3:
                                            type: integer
                                            description: مختصات نقطه ۳ پایین سمت چپ
                                        x4:
                                            type: integer
                                            description: مختصات نقطه ۴ پایین سمت راست
                                        y4:
                                            type: integer
                                            description: مختصات نقطه ۴ پایین سمت راست
            responses:
                '201':
                    description: پاسخ موفق
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/FileLabel'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/RateLimiter'
        delete:
            tags:
                - FileLabel
            description: پاک کردن فایل لیبل
            parameters:
                - in: path
                  name: id
                  schema:
                      type: integer
                  required: true
                  description: شناسه یکتای فایل لیبل
            responses:
                '204':
                    description: پاسخ موفق
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    $ref: '#/components/responses/NotFound'
                '429':
                    $ref: '#/components/responses/RateLimiter'
